/* ------------------------ ADMIN HEADER ------------------------ */
.adminHeader {
	display: flex;
	width: 100%;
	background-color: black;
	align-items: center;
	gap: 12px;
	justify-content: center;
}

.adminHeader i,
.adminHeader p {
	font-weight: 100;
	align-items: center;
	background-color: black;
	display: flex;
	color: var(--main-bg-color);
}

.adminHeader p {
	margin: 20px 0;
	font-size: 16px;
	font-weight: 400;
}

/* ------------------------ ADMIN MODIFIER ------------------------ */
.modify {
	display: flex;
	gap: 10px;
}

.modify a:hover {
	cursor: pointer;
	font-weight: 700;
}

/* ------------------------ ADMIN MODAL MODIFIER ------------------------ */
/* Partager entres les deux modals */
.modifyModal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
}

.modalWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 590px;
	height: 630px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
}

.modalWrapper .modalActionButtons {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	background-color: white;
}

.modalWrapper #closeButton {
	border: none;
	display: flex;
	margin-left: auto;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	font-weight: 700;
	transition: 0.3s ease;
	background-color: white;
}

.modalWrapper .modalActionButtons i:hover {
	cursor: pointer;
	color: var(--logo-color);
}

.modalWrapper h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	display: flex;
	align-items: center;
	background-color: white;
}

.modalWrapper .seperator {
	border: 0.5px solid lightgrey;
	width: 71%;
	margin: 0 85px;
}

/* Modal modifier */
#modalGallery {
	display: grid;
	min-height: 365px;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	column-gap: 10px;
	row-gap: 30px;
	margin: 0 85px 46px 85px;
	background-color: white;
}

#modalGallery .modalCard {
	display: flex;
	height: 102px;
	width: 76px;
	object-fit: cover;
	overflow: hidden;
}

#modalGallery .modalCard img {
	position: relative;
	right: 17px;
	top: 0;
	display: flex;
	z-index: 1;
	object-fit: cover;
}

#modalGallery .modalCard i {
	height: 10px;
	padding: 4px 4px;
	position: relative;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	top: 5px;
	left: 55px;
	border: none;
	display: flex;
	z-index: 2;
	border-radius: 2px;
}

#modalGallery .modalCard i:hover {
	cursor: pointer;
}

.modalWrapper #addButton {
	display: flex;
	font-size: 14px;
	font-family: 'Syne';
	text-align: center;
	border-radius: 60px;
	background-color: var(--main-color);
	color: white;
	height: 36px!important;
	border: none;
	align-items: center;
	justify-content: center;
	width: 237px;
	margin: 30px 0 25px 0;
}

.modalWrapper #addButton:hover {
	cursor: pointer;
}

/* ------------------------ MODAL AJOUT PHOTO ------------------------ */
.modalWrapper #backButton {
	display: flex;
	border: none;
}

.modalWrapper h3 {
	margin-bottom: 36px;
}

.modalWrapper #addForm {
	background-color: white;
	width: 420px;
	display: flex;
	flex-direction: column;
	padding: 0 36px 47px 36px;
}

.modalWrapper #addForm .fileInputDiv {
	height: 169px;
	width: 100%;
	background-color: rgba(232, 241, 246, 1);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modalWrapper #addForm #fileInputDivDefault {
	background-color: rgba(232, 241, 246, 1);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 3px;
}

.modalWrapper #addForm .fileInputDiv #addFileInputIcon {
	color: rgba(185, 197, 204, 1);
	background-color: rgba(232, 241, 246, 1);
	margin: 15px 0 6px 0;
}

.modalWrapper #addForm #addFileInput {
	display: none;
}

.modalWrapper #addForm .addFileInputLabel {
	background-color: rgba(203, 214, 220, 1);
	color: rgba(48, 102, 133, 1);
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 36%;
	font-size: 16px;
	font-weight: 500;
	padding: 12px;
	display: flex;
}

.modalWrapper #addForm .addFileInputLabel:hover {
	cursor: pointer;
}

.modalWrapper #addForm #imgPreview {
	z-index: 1;
	max-height: 169px;
	object-fit: cover;
	background-repeat: no-repeat;
}

.modalWrapper #addForm #imgPreview:hover {
	cursor: pointer;
}

.modalWrapper #addForm p {
	background-color: rgba(232, 241, 246, 1);
	font-size: 10px;
	color: rgba(68, 68, 68, 1);
	margin: 8px 0 20px 0;
}

.modalWrapper #addForm>label {
	color: rgba(61, 61, 61, 1);
	font-size: 14px;
	font-weight: 600;
	background-color: white;
	margin: 30px 0 10px 0;
}

.modalWrapper #addForm #addTitle {
	background-color: white;
	border: none;
	/* height: 51px; */
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	padding: 17px;
}

.modalWrapper #addForm #categorySelect {
	font-family: 'Work Sans';
	appearance: none;
	background-image: url(../icons/angle-down-solid.svg);
	background-repeat: no-repeat;
	background-position: right 30px top 50%;
	background-size: 10px;

	position: relative;
	background-color: white;
	border: none;
	min-height: 51px;
	font-size: 14px;
	padding: 0 16px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.modalWrapper #submitButton {
	width: 237px;
}

.modalWrapper button[type="submit"] {
	border: none;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 32px auto 0 auto!important;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	box-shadow: none;
}

button[type="submit"]:hover {
	cursor: pointer;
}

.inactive {
	background-color: rgba(167, 167, 167, 1) !important;
}

.inactive:hover {
	cursor: default !important;
}
/* 
button[type="submit"] {
	border: none;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 32px auto 45px auto!important;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	box-shadow: none;
} */