/* ------------------------ INTRODUCTION ------------------------ */
#introduction {
	display: flex;
	gap: 72px;
	align-items: center;
	justify-content: center;
}

#introduction figure {
	align-items: center;
	flex: 1
}

#introduction img {
	object-fit: cover;
	min-width: 474px;
	width: 100%;
}

#introduction article {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#introduction {
	margin-bottom: 140px;
}

/* ------------------------ PORTFOLIO ------------------------ */
/* Titre */
#portfolioTitle {
	margin-bottom: 30px;
	gap: 30px;
	display: flex;
	align-items: center;
}

#portfolioTitle h2 {
	justify-content: center;
	margin-left: 40%;
}

/* Galerie */
#filterGallery {
	padding: 10px 0 50px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#filterGallery h3 {
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	transition: 0.3s ease-in-out;
	background-color: initial;
}

#filterGallery h3 {
	display: flex;
	min-width: 80px;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	padding: 9px 10px;
	transition: 0.3s ease-in-out;
}

.active h3 {
	color: var(--main-bg-color) !important;
	background-color: var(--main-color) !important;
}

#filterGallery h3:hover {
	cursor: pointer;
	color: var(--main-bg-color);
	background-color: var(--main-color);
}

.gallery {
	max-height: 1800px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	height: 404px;
	width: 100%;
}

.gallery figcaption {
	padding-top: 7px;
}

/* ------------------------ CONTACT ------------------------ */
#contact textarea {
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.input-area form {
	text-align: left;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

#contactForm button[type="submit"] {
	border: none;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 45px auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	box-shadow: none;
}

#contactForm button[type="submit"]:hover {
	cursor: pointer;
}