#introduction {
	display: flex;
	gap: 72px;
	align-items: center;
	justify-content: center;
}
#introduction figure {
	align-items: center;
	flex: 1
}

#introduction img {
	object-fit: cover;
	min-width: 474px;
	width: 100%;
}

#introduction article {
	display: flex;
	flex-direction: column;
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#introduction {
	margin-bottom: 140px;
}

#portfolio-title {
	margin-bottom: 30px;
	/* margin: 0 auto 30px auto; */
	gap: 30px;
	display: flex;
	/* justify-content: center; */
	/* text-align: center; */
	align-items: center;
}

#portfolio-title h2 {
	/* margin: 0 auto; */
	justify-content: center;
	margin-left: 40%;
	/* display: absolute; */
}

#tri-gallery {
	padding: 10px 0 50px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#tri-gallery h3 {
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	transition: 0.3s ease-in-out;
	background-color: initial;
}

#tri-gallery h3 {
	display: flex;
	min-width: 80px;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	padding: 9px 10px;
	transition: 0.3s ease-in-out;
}
.active h3 {
	color: var(--main-bg-color)!important;
	background-color: var(--main-color)!important;
}
#tri-gallery h3:hover {
	cursor: pointer;
	color: var(--main-bg-color);
	background-color: var(--main-color);
}

.gallery {
	max-height: 1800px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	padding-top: 7px;
}

/* -- Contact -- */
#contact textarea {
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.input-area form {
	text-align: left;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

/* -- Admin -- */
/* header */
.adminHeader {
	display: flex;
	width: 100%;
	background-color: black;
	align-items: center;
	justify-content: center;
}

.adminHeader i, .adminHeader p {
	font-weight: 100;
	align-items: center;
	background-color: black;
	display: flex;
	color: var(--main-bg-color);
}

.adminHeader p {
	margin: 20px 12px;
	font-size: 16px;
	font-weight: 400;
}

/* modifier */
.modifier {
	display: flex;
	gap: 10px;
}

.modifier a:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* modifier modal */
.modifierModal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
}

.modal-wrapper {
	width: 50%;
	min-height: 688px;
	padding: 20px;
}