/* ------------------------ LOGIN ------------------------ */
#login {
    width: fit-content;
    min-width: 379px;
}

#login-header-button {
    font-weight: bold;
}

.boutonSubmit {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 28px;
}

button[type="submit"] {
    font-size: 14px;
    margin: 0 auto 0 auto;
    border-radius: 60px;
    border: none;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
    height: 36px;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.mdpOublie {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-bottom: 1px solid #000;
}

.input-area #password {
    margin: 0 0 37px 0;
}

.input-area form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.mdpOublie:hover {
    cursor: pointer;
    font-weight: bold;
}