/* Login */
#login {
    width: fit-content;
    min-width: 379px;
}

#login-header-button {
    font-weight: bold;
}

button[type="submit"]{
    font-size: 14px;
	margin : 37px auto 28px auto;
	text-align: center;
	border-radius: 60px ;
}

button[type="submit"]:hover {
   cursor: pointer;
}

.mdp-oublie {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;    
    border-bottom: 1px solid #000;
}

.input-area form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.mdp-oublie:hover {
    cursor: pointer;
    font-weight: bold;
}