/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/


:root {
    --main-color: #1D6154;
    --main-bg-color: rgba(255, 254, 248, 1);
    --logo-color: #B1663C;
}

* {
    /* background-color: red; */
	background-color: var(--main-bg-color);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Work Sans';
	font-size: 14px;
}

main {
	margin: auto;
	max-width: 950px;
}

header {
    justify-content: center;
    align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
    padding: 0 150px;
    max-width: 1440px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--logo-color);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color);
}

h3 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
}

.sophie-logo {
    display: flex;
}


.nav-menu {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 44px;

}

.insta-logo i {
	font-weight: 550;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-menu li {
	font-size: 16px;
}

li a {
	color: black;
	transition: 0.3s ease-in-out;
}

li a:hover {
	font-weight: bold;
}

/* Contact et Login */
.input-area {
	width: 40%;
	margin: auto;
}
.input-area > * {
	text-align: center;

}
.input-area h2{
	margin-bottom: 20px;
}
.input-area form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.input-area input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.input-area label {
	margin: 2em 0 1em 0;
}

input[type="submit"]{
    font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154 !important;
	margin : 45px auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    height: 36px;
    box-shadow: none;
}

.footer {
    display: flex;
	margin-top: auto;
    justify-content: center;
    align-items: center;
	width: 100vw;
	background-color: white;
	height: 60px;
}

.footer .mentions {
	display: flex;
	align-items: center;
	width: 100vw;
	background-color: white;
	height: 60px;
}

.footer nav .mentions a {
	display: flex;
	color: black;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 300;
	background-color: white;
	padding-right: 7%;
    justify-content: flex-end;
    margin: 0 auto;
    width: 100%;
}

input, textarea {
    padding: 0 10px;
    font-family: 'Work Sans';
}

textarea {
    max-height: 154px;
    padding: 10px 10px;
}

input:focus, textarea:focus {
    outline: none;
}